
.numbers{
  font-size: 12px;
}.number-contianer{
    position: relative;
    width: 92%;
    height: 15px;
    margin: auto;
    color: white;
}
.under{
 position: absolute;
 left: 2%;
}
.normal{
    position: absolute;
    left: 17%;
   }
   .over{
    position: absolute;
    left: 45%;
   }
   .last{
    position: absolute;
    left: 94%;
   }

.pipe-container {
    width: 100%;
    height: 40px;
    border: 1px solid #6d6a6a;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    display: flex;
    color: white;
    font-size: 11px;

  }
  .containerAllPipe{
    width: 100%;
    max-width: 500px;
    margin-left: 7px;
    /* padding: 10px; */
  }
  .pipe {
    height: 100%;
    position: absolute;
    bottom: 0;
    font-size: 30px;
    color: black;
    font-weight: 1000;
  }
  .sp1{
    background-color: rgb(243, 243, 37);
    width: 19.53%;
    align-content: center;
    text-align: center;
    color: black;
  }
  .sp2{
    background-color: rgb(36, 240, 17);
    width: 27%;
    align-content: center;
    text-align: center;
    color: black;

  }
  .sp3{
    background-color: rgb(254, 16, 16);
    color: black;
    width: 53.47%;
    align-content: center;
    text-align: center;
  }
  
  @media only screen and (max-width: 700px) {
    .containerAllPipe{
      margin-left: 0px;

    }
  }